<div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info modal-custom" role="document">

  <div class="modal-content">

    <div class="modal-header modal-headercolor d-flex justify-content-center">
      <h1>{{book.name}}</h1>
    </div>

    <div class="modal-body">

      <div class="row">
          <p class="col-6">{{book.author}}</p>
          <p class="col-6">{{book.created | dateWithoutTime}}</p>
      </div>

      <div>
        <app-rating [rating]="book.rating"></app-rating>
        <span class="d-flex justify-content-center">
          <button type="button" class="btn btn-info btn-md waves-effect waves-light" (click)="routeToBookPage()">Read more</button>
        </span>
      </div>
    </div>

  </div>

</div>

