<div class="row">
  <div class="col-6 mt-3 mb-3 align-self-center">

    <img src="./assets/logo.png" alt="Logo" class="logo-size">
    <h1 class="d-inline-flex text-white align-middle ms-3 mb-0">B00ksRev1ewer</h1>
    <span class="d-inline-flex ms-5">
      <app-search [inputWidth]="'20em'"></app-search>
    </span>

  </div>
  <div class="col-3 mt-3 mb-3 align-self-center">

    <a href="" class="light-gray ft-weight fs-4">Books</a>
    <a href="" class="light-gray ft-weight fs-4 ms-3">My profile</a>
    <a href="" class="light-gray ft-weight fs-4 ms-3">Reviews</a>

  </div>
  <div class="col-3 mt-3 mb-3 align-self-center">

    <button class="w-25 btn btn-funky-green rounded-pill me-2">Login</button>
    <button class="w-25 btn btn-funky-moon rounded-pill">Sign Up</button>

  </div>
</div>
<h1></h1>
<router-outlet></router-outlet>
