<div class=""><span class="d-inline-block ms-5"><p class="">prikol</p></span></div>
<div class="container" *ngIf="isShow">
  <div class="d-flex justify-content-center">
    <div class="bg-container">

      <div class="row">

        <div class="col">
          <span class="d-flex justify-content-center img-container">
            <img src="data:image/png;base64,{{book.imageCover}}" class="cover-size" alt="Book cover" #image>
          </span>

          <span class="d-flex justify-content-center">
            <div class="mt-n20 position-absolute">
              <span class="d-inline-block "><p class="float-start">prikol</p></span>

              <ng-container *ngFor="let char of bookName">
                <h1 class="text-center half-color" id="title" [attr.data-target]="char" #elements>{{char}}</h1>
              </ng-container>

              <h1 class="text-center">{{book.author}}</h1>
            </div>
          </span>

        </div>
        <!-- <div class="col-4">
          <app-rating [rating]="7" [backgroundColor]="backgroundColorForRating"></app-rating>
          <span class="d-flex justify-content-center"><button class="btn btn-outline-warning">Add in liked</button></span>
        </div> -->

      </div>

      <div class="row">

        <div class="col-2"></div>
        <div class="col-6"><p class="fs-2 text-center">{{book.description}}</p></div>
        <div class="col-4"><p class="fs-2 text-center">{{book.created | dateWithoutTime}}</p></div>

      </div>
      <hr class="bg-white border-2 border-top border-white">
      <div>
        <app-book-reviews [reviews]="book.reviews"></app-book-reviews>
      </div>

    </div>
  </div>
</div>
